proxy=http://99905:Pr0xy.L1nux@proxy:3128/
//www.myget.org/F/marcosaugusto/:_password=U3Vhc2VuaGEx
//www.myget.org/F/marcosaugusto/:username=marcosjaojr
//www.myget.org/F/marcosaugusto/:email=mjaojr@gmail.com
//www.myget.org/F/marcosaugusto/:always-auth=false
registry=https://www.myget.org/F/marcosaugusto/npm
